.coninater_commnet_section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: rgb(88, 88, 88);
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(199, 39, 39);
}

.Commnet_input_section {
    flex-grow: 1; 
}
.Dispaly_commnet
{
    margin-top: 35px;
}

.Commnet_from {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}

.Commmnet_input {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 254, 254);
    color: rgb(255, 249, 249);
    font-size: 16px;
    outline: none; 
}
.Commnet_btn
{
 display: flex;
 justify-content: end;  
 margin-top: 15px; 
}
.Commnet_submit_btn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 94, 94);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.Commnet_submit_btn1
{
    width: 100px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin-right: 9px;
    border-radius: 20px;
    background-color: #5b5a5a;
}
.Commnet_submit_btn1:hover
{
    background-color: #bcb8b8;
    color: black;
}

.Commnet_submit_btn:hover {
    background-color: rgb(178, 177, 174);
    color: black;
}

/* display Commnet */

.display_comment_section {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
    
  .comment_content {
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
  }
  
  .comment_body {
    color: #ffffff;
    margin: 0;
  }
  
  .comment_user {
    color: #ffffff;
  }
  